<footer class="mt-16 bg-muted">
  <div class="container mx-auto flex items-center justify-between p-4">
    <div class="text-sm">© 2024 QPWilliam. {{ 'All rights reserved' | translate }}.</div>
    <div class="flex space-x-4">
      <a href="https://github.com/QPWilliam" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="https://www.linkedin.com/in/william-burrion-b99644255/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a href="https://x.com/brn2109" target="_blank" rel="noopener noreferrer">Twitter</a>
    </div>
  </div>
</footer>